/* MEDIA QUERIES */

@media screen and (max-width: 1022px){

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px){

    .carrito-acciones-total {
        flex-direction: column;
        justify-content: center;
    }

    .carrito-acciones-vaciar,
    .carrito-acciones-derecha {
        height: 5rem;
    }

    .carrito-producto-titulo,
    .carrito-detalles,
    .carrito-acciones-izquierda,
    .carrito-acciones-derecha,
    .carrito-acciones-comprar {
        font-size: .8rem;
    }

    .carrito-acciones-izquierda {
        margin-right: .5rem;
    }

    .carrito-producto-precio,
    .carrito-producto-subtotal {
        margin-top: .3rem;
    }

    .contenedor-productos {
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;

    }

    .aside-visible{
        width: 100%;
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        align-items: center;
    }

    .boton-menu.active {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    
    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .logo{
        margin-left: 1rem;
        color: white;
    }

    .open-menu,
    .close-menu {
        background-color: transparent;
        color: var(--grey);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}